/* Estilo geral da página */
p {align-text: justify;}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho centralizado */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

/* Menu horizontal */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilo das seções */
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Botão voltar para o início */
.btn-voltar {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-voltar:hover {
    background-color: #555;
}

.imagem-container {
    text-align: center;
}

.imagem-reduzida {
    width: 20%;
    height: 20%;
    display: block;
    margin: 0 auto;
}